@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~ngx-toastr/toastr.css";
@import '~bootstrap/scss/bootstrap';
// @import "~@ng-select/ng-select/themes/material.theme.css";
@import 'variable.scss';

html,
body {
    background: $backgroundColor;
    height    : 100%;
}

*,
.mat-h2,
.mat-title,
.mat-typography h2 {
    font-family: 'Mulish', sans-serif;
}

body {
    margin: 0;
}

.my-form {
    min-width: 150px;
    max-width: 500px;
    width    : 100%;
}

.full-width {
    width: 100%;
}

.w-30 {
    width: 30px;
}

.mat-drawer-container {
    background: $backgroundColor;
}

.mat-toolbar-multiple-rows,
.mat-toolbar-row,
.mat-toolbar-single-row {
    min-height: $headerHeight;
    height    : $headerHeight;
}

.wrapper-container {
    position: absolute;
    top     : $headerHeight;
    bottom  : $headerHeight;
    left    : 0;
    right   : 0;
    height  : calc(100% - 56px);
    padding : 15px 0 0 0;
}

.mat-drawer {
    width: 200px;

    a {
        &.active {
            background  : #f1f4f6;
            font-weight : 600;
            border-right: 3px solid $themeColor;
        }
    }
}

.no-data-image {
    max-height: 500px;
    max-width : 100%;
}

a {
    font-weight: 500;
}

.login-main-wrapper {
    // background-image   : url('./images/login.jpeg');
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;

    .login-wrapper {
        min-height    : 100vh;
        flex-direction: column;
    }
}

.navbar-header-wrapper {
    position  : fixed;
    background: $white;
    top       : 0;
    left      : 0;
    right     : 0;
    z-index   : 2;

    @include box-shadow(0 2px 12px rgb(4 8 12 / 16%));

    .header-title-wrapper {
        align-items    : center;
        display        : flex;
        flex-direction : row;
        justify-content: center;
    }
}

.profile-menu-wrapper {
    .mat-icon {
        font-size  : 20px;
        text-align : center;
        padding-top: 1px;
    }
}

.mat-card:not([class*=mat-elevation-z]),
.mat-elevation-z8 {
    @include box-shadow(0 2px 12px rgb(4 8 12 / 16%));
}

table {
    width: 100%;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.form-wrapper {
    padding: 10px;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width    : 100%;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width  : 100%;
}

.button {
    width: 100%;
}

.box-shadow-none {
    box-shadow: none !important;
}

button.mat-raised-button {
    min-width: 150px;
    padding  : 2px 16px;

    &:not(.mat-button-disabled) {
        @include box-shadow(0 2px 12px rgb(4 8 12 / 16%) !important);
    }

    &.mat-primary:not(.mat-button-disabled) {
        @include box-shadow(0 4px 8px 0 rgb(0 123 255 / 50%) !important);
    }

    &.mat-primary {
        color           : $white;
        background-color: $themeColor;
    }
}

.ngx-pagination .current {
    background: $themeColor;
}

.primary {
    color      : $themeColor;
    font-weight: 500;
}

.success {
    color      : $green;
    font-weight: 500;
}

.error {
    color      : $red;
    font-weight: 500;
}

.mat-drawer {
    border: 0;

    @include box-shadow(0 2px 12px rgb(4 8 12 / 16%));
}

.formio.builder.row.formbuilder {
    width: 100%;
}

.pagination-wrapper .ngx-pagination .current {
    padding   : 0.5rem 1em;
    background: $themeColor;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: $themeColor;
}

.mat-toolbar {
    &.mat-primary {
        background: $themeColor;
    }

    .mat-toolbar-row {
        justify-content: space-between;

        h1 {
            margin: 0;
        }

        .title {
            font-size: 1.1rem;
        }
    }
}

a:hover {
    text-decoration: none;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.comment-row {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    padding       : 10px 0;
    position      : relative;

    .date {
        cursor     : pointer;
        margin-left: 10px;
        color      : #42526e;
    }

    .createdBy {
        color    : $themeColor;
        font-size: 16px;
    }
}

.work-log-row {
    border-bottom: 1px solid #e8e8e8;
    padding      : 10px 0;
    position     : relative;

    .user-icon-wrapper {
        align-items: baseline;

        .name {
            color      : $themeColor;
            font-weight: 600;
            cursor     : pointer;
        }

        .date {
            cursor     : pointer;
            margin-left: 10px;
            color      : #42526e;
        }
    }

    .comment {
        margin-top: 10px;
    }

    .action {
        .title {
            color         : $themeColor;
            display       : inline-block;
            font-weight   : 500;
            padding       : 0 10px 0 0;
            vertical-align: middle;

            &:hover {
                cursor         : pointer;
                text-decoration: underline;
            }
        }
    }
}

.mat-list-item-content {
    justify-content: space-between;
    font-size      : 0.95em;
}

.uploadFile {
    top     : 0px;
    left    : 0px;
    width   : 100%;
    z-index : 9;
    opacity : 0;
    height  : 100%;
    cursor  : pointer;
    position: absolute;
}

footer {
    position  : fixed;
    bottom    : 0;
    left      : 0;
    right     : 0;
    text-align: center;
    padding   : 20px 0;
    background: $white;
    z-index   : 1;

    @include box-shadow(0 2px 12px rgb(4 8 12 / 16%));
}

.wrapper {
    margin-bottom: 75px;
}

.toast-container .ngx-toastr {
    border-radius: 4px;
    padding      : 15px;

    @include box-shadow(0 2px 12px rgb(4 8 12 / 16%));

    &:hover {
        @include box-shadow(0 2px 12px rgb(4 8 12 / 16%));
    }

    &.toast-success {
        background-color: $white;
        border-left     : 3px solid $green;
        border-right    : 3px solid $green;
        color           : $black;
    }

    &.toast-error {
        background-color: $white;
        border-left     : 3px solid $red;
        border-right    : 3px solid $red;
        color           : $black;
    }

    .toast-title {
        font-weight: 500;
    }
}

.profile-wrapper {
    .name {
        font-size: 16px;
        display  : inline-block;
    }
}

.w-320 {
    width: 320px;
}

.work-log-report {
    thead {
        tr {
            th:first-child {
                width  : 200px;
                display: block;
            }
        }
    }

    tbody {
        tr {
            td:first-child {
                width  : 200px;
                display: block;
            }
        }
    }
}

.truncate-text {
    text-overflow: ellipsis;
    overflow     : hidden;
    white-space  : nowrap;
    max-width    : 200px;
    padding-right: 30px !important;
}

.status-button,
.mat-raised-button.status-button {
    min-width: 150px;
}

.mat-paginator {
    @include box-shadow(0 2px 12px rgb(4 8 12 / 16%));
}

.cal-month-view {
    .cal-day-badge {
        background-color: $themeColor;
        border          : 1px solid $themeColor;
        color           : $white;
        border-radius   : 50%;
        height          : 30px;
        width           : 30px;
        vertical-align  : middle;
        display         : inline-block;
        line-height     : 28px;
        padding         : 0;
    }

    .cal-day-cell {
        outline: none;

        &.cal-today {
            background-color: $white;
            color           : $themeColor;
        }

        &.cal-in-month.cal-has-events {
            outline: none;
        }
    }

    .cal-open-day-events {
        background-color: $white;
        border          : 1px solid #e1e1e1;

        @include box-shadow(none);
    }

    .cal-day-number {
        opacity    : 1;
        font-weight: 600;
    }

    .cal-event {
        background-color: $themeColor;
    }

    .cal-event-title {
        color      : $themeColor;
        transition : all ease 0.4s;
        font-weight: 500;
        font-size  : 15px;

        &:hover {
            color          : $themeColor;
            text-decoration: none;
        }
    }
}

mwl-calendar-event-title {
    outline: none;
}

.calender-date {
    font-weight: 600;
    margin     : 15px 0;
    font-size  : 18px;
    color      : $themeColor;
}

.cal-week-view .cal-day-headers .cal-header {
    outline: none;
}

.cal-week-view .cal-time,
.cal-week-view .cal-day-headers .cal-header b,
.cal-month-view .cal-header .cal-cell {
    font-weight: 500;
    outline    : none;
    padding    : 10px 0;
}

.cal-month-view .cal-cell-row,
.cal-month-view .cal-header .cal-cell {
    &:hover {
        background-color: transparent;
    }
}

.color-primary {
    color: $themeColor;
}

.name-wrapper {
    .title {
        font-weight: 600;
        color      : $black
    }
}

.project-card {
    &.mat-card {
        border-radius: 8px;
        height       : 100%;
    }

    .mat-card-header {
        justify-content: space-between;

        .mat-card-header-text {
            align-items    : center;
            display        : flex;
            justify-content: center;
            margin-left    : 0;
        }
    }

    &:hover {
        background: #fafafa;

        .mat-card-header-text {
            color: $themeColor;
        }
    }

    cursor    : pointer;
    transition: all ease .5s;
}

.user-icon-wrapper {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    overflow      : auto;

    .content {
        cursor       : pointer;
        border-radius: 50%;
        background   : $themeColor;
        color        : $white;
        font-weight  : 700;
        border       : 2px solid $themeColor;
        margin       : 0 5px 5px 0;
        min-width    : 30px;
        width        : 30px;
        text-align   : center;
        height       : 30px;
        line-height  : 26px;
        font-size    : 12px;
    }
}

mat-step-header {
    pointer-events: none;
}

.ng-select {
    .ng-select-container {
        min-height: 44px;
    }

    &.ng-select-focused {
        .ng-select-container {
            &:after {
                border-color: $themeColor;
            }
        }
    }

    &.ng-select-multiple {
        .ng-select-container {
            .ng-value-container {
                .ng-value {
                    background-color: $themeColor;
                }
            }
        }
    }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background : transparent;
    color      : $themeColor;
    font-weight: 600;
}

.ng-option-label .user-icon-wrapper {
    display       : inline-block;
    vertical-align: middle;
    padding       : 5px 0;
}

.ng-value-label .user-icon-wrapper {
    display: none;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: $themeColor;
}

.sort-menu {
    button.mat-menu-item {
        align-items    : center;
        justify-content: space-between;
        display        : flex;
    }
}

.task-title {
    font-weight: 600;
    font-size  : 1.75em;
    margin     : 5px ​0;
}

.task-sub-title {
    font-weight: 600;
    font-size  : 1.15em;
    margin     : 5px 0 15px;
}

.activity-wrapper {
    align-items   : center;
    display       : flex;
    flex-direction: row;

    .mat-standard-chip {
        border-radius: 4px;
        cursor       : pointer;

        &.active {
            background-color: $themeColor;
            color           : $white;
        }
    }
}

.mat-standard-chip:focus::after {
    opacity: 0 !important;
}

.task-color-status {
    bottom  : 0;
    left    : 0;
    position: absolute;
    top     : 0;
    width   : 5px;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $themeColor;
}

.tox-statusbar {
    display: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin            : 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.mat-accordion {
    display: block;

    @include box-shadow(0 2px 12px rgb(4 8 12 / 16%));

    .mat-expansion-panel {
        border-bottom: 1px solid #e8e8e8;

        @include box-shadow(none);

        .mat-expansion-panel-header {
            .mat-content {
                font-weight: 600;
            }
        }
    }

    .mat-expansion-panel-spacing {
        margin: 0;
    }
}

.mat-spinner {
    height: 30px !important;
    width : 30px !important;

    svg {
        height: 100% !important;
        width : 100% !important;

        circle {
            stroke: $white;
        }
    }
}
