@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~ngx-toastr/toastr.css";
@import '~bootstrap/scss/bootstrap';
// @import "~@ng-select/ng-select/themes/material.theme.css";
@import 'variable.scss';


@import './assets/css/bootstrap.min.css';
@import './assets/css/docs.css';

html,
body {
    background: #f3f3f3;
    height    : 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-form {
    min-width: 150px;
    max-width: 500px;
    width    : 100%;
}

.full-width {
    width: 100%;
}

.wrapper-container {
    position: absolute;
    top     : 60px;
    bottom  : 60px;
    left    : 0;
    right   : 0;
    height  : calc(100% - 64px);
    padding : 15px 0 0 0;
}

.mat-drawer {
    width: 230px;
}

.navbar-header-wrapper {
    position          : fixed;
    background        : #fff;
    top               : 0;
    left              : 0;
    right             : 0;
    z-index           : 2;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow   : 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow        : 0 3px 5px rgba(57, 63, 72, 0.3);
}

.profile-menu-wrapper {
    .mat-icon {
        font-size  : 20px;
        text-align : center;
        padding-top: 1px;
    }
}

.mat-card:not([class*=mat-elevation-z]),
.mat-elevation-z8 {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow   : 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow        : 0 3px 5px rgba(57, 63, 72, 0.3);
}

table {
    width: 100%;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.form-wrapper {
    padding: 10px;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width    : 100%;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width  : 100%;
}

.button {
    width: 100%;
}

.mat-drawer {
    border            : 0;
    -moz-box-shadow   : -3px 0 5px 0 #555;
    -webkit-box-shadow: -3px 0 5px 0 #555;
    box-shadow        : -3px 0 5px 0 #555;
}

// .mat-drawer-content {
//     padding-left: 15px;
// }

.formio.builder.row.formbuilder {
    width: 100%;
}

.pagination-wrapper .ngx-pagination .current {
    padding   : 0.5rem 1em;
    background: #3f51b5;
}

.mat-toolbar-row {
    justify-content: space-between;

    h1 {
        margin: 0;
    }

    .title {
        font-size: 2rem;
    }
}

a:hover {
    text-decoration: none;
}

.font-weight-500 {
    font-weight: 500;
}

.comment-row {
    position: relative;

    .date {
        top     : 10px;
        position: absolute;
        right   : 30px;

        &.t-0 {
            top: 0;
        }

        &.t-1 {
            top: 5px;
        }
    }

    .createdBy {
        color    : #007bff;
        font-size: 16px;
    }
}

.mat-list-item-content {
    justify-content: space-between;
}

.uploadFile {
    top     : 0px;
    left    : 0px;
    width   : 100%;
    z-index : 9;
    opacity : 0;
    height  : 100%;
    cursor  : pointer;
    position: absolute;
}

footer {
    position  : fixed;
    bottom    : 0;
    left      : 0;
    right     : 0;
    text-align: center;
    padding   : 20px 0;
    box-shadow: -3px 0 5px 0 #b5b5b5;
    background: #fff;
    z-index   : 1;
}

.wrapper {
    margin-bottom: 60px;
}

.mat-list-base .mat-list-item {
    font-size: 15px;
}

.toast-container .ngx-toastr {
    box-shadow   : 0 3px 5px rgb(57 63 72 / 30%);
    border-radius: 4px;
    padding      : 15px;

    &:hover {
        box-shadow: 0 3px 5px rgb(57 63 72 / 30%);
    }

    &.toast-success {
        background-color: #fff;
        border-left     : 3px solid #4caf50;
        border-right    : 3px solid #4caf50;
        color           : #000;
    }

    &.toast-error {
        background-color: #fff;
        border-left     : 3px solid #f44336;
        border-right    : 3px solid #f44336;
        color           : #000;
    }

    .toast-title {
        font-weight: 500;
    }
}

.profile-wrapper {
    .name {
        font-size     : 16px;
        display       : inline-block;
        vertical-align: bottom;
    }
}

.w-320 {
    width: 320px;
}